<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search City" name="city" [(ngModel)]="cityName">
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upperData">
    <img src="../assets\day.jpg" *ngIf="weatherData.main.temp > 50">
    <img src="../assets\night.jpg" *ngIf="weatherData.main.temp <= 50">
    <div class="weatherData">
      <div class="location">{{weatherData.name}}</div>
      <div class="temperature">{{ weatherData.main.temp | number: '1.0-0'}}°F</div>
    </div>
  </div>
  <div class="lowerData">
    <div class="moreInfoLabel">More Information</div>
    <div class="moreInfoContainer">
      <div class="infoBlock">
        <div class="infoBlockLabel">
          <img src="../assets/min.png">
          <span>Min</span>
        </div>
        <div class="infoBlockValue">
          {{weatherData.main.temp_min | number: '1.0-0'}}°F
        </div>
      </div>

      <div class="infoBlock">
        <div class="infoBlockLabel">
          <img src="../assets/max.png">
          <span>Max</span>
        </div>
        <div class="infoBlockValue">
          {{weatherData.main.temp_max | number: '1.0-0'}}°F
        </div>
      </div>

      <div class="infoBlock">
        <div class="infoBlockLabel">
          <img src="../assets/humidity.png">
          <span>Humidity</span>
        </div>
        <div class="infoBlockValue">
          {{weatherData.main.humidity}}%
        </div>
      </div>

      <div class="infoBlock">
        <div class="infoBlockLabel">
          <img src="../assets/wind.png">
          <span>Wind</span>
        </div>
        <div class="infoBlockValue">
          {{weatherData.wind.speed}} mph
        </div>
      </div>

    </div>
  </div>
</div>

<!--APP WITH STATIC VALUES FOR VIEWING PURPOSES-->

<!-- <div class="container">
  <div class="upperData">
    <img src="../assets\day.jpg" *ngIf="14 < 15">
    <img src="../assets\night.jpg" *ngIf="14 > 15">
    <div class="weatherData">
      <div class="location">Mississauga</div>
      <div class="temperature">{{ 14.40 | number: '1.0-0'}}°F</div>
    </div>
  </div>
  <div class="lowerData">
    <div class="moreInfoLabel">More Information</div>
    <div class="moreInfoContainer">
      <div class="infoBlock">
        <div class="infoBlockLabel">
          <img src="../assets/min.png">
          <span>Min</span>
        </div>
        <div class="infoBlockValue">
          10°F
        </div>
      </div>

      <div class="infoBlock">
        <div class="infoBlockLabel">
          <img src="../assets/max.png">
          <span>Max</span>
        </div>
        <div class="infoBlockValue">
          15°F
        </div>
      </div>

      <div class="infoBlock">
        <div class="infoBlockLabel">
          <img src="../assets/humidity.png">
          <span>Humidity</span>
        </div>
        <div class="infoBlockValue">
          25%
        </div>
      </div>

      <div class="infoBlock">
        <div class="infoBlockLabel">
          <img src="../assets/wind.png">
          <span>Wind</span>
        </div>
        <div class="infoBlockValue">
          15mph
        </div>
      </div>

    </div>
  </div>
</div> -->